# Data files
*.csv

*.xlsx
*.sqlite
data/raw/*
data/processed/*
# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pkl
*.h5
# Virtual environment
venv/
env/
.env
# IDE
.vscode/
.idea/
*.swp
# Models
models/*.pkl
models/*.h5
models/*.joblib
# OS
.DS_Store
Thumbs.db
